*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #2C5C7F;
}
h1, h2{
    text-align: center;
    color:aliceblue;
}
h1{
    font-size: 100px;
}
h2{
    font-size: 50px;
}

#titulo{
    margin-top: 255px;
    background-color: rgba(50,50,50,0.5);
}
header{
    height: 800px;
    background-color: #2C5C7F;
    background-image: url("../Img/Logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 700px;
}

#nav {
    background: #172967;
    width: 100%;
    height: 50px;
    background-size: 50px;
    background-position: left;
    background-repeat: no-repeat;
}

#nav #Logo img{
    display: block;
    width: 50px;
    margin: 0px left;
    padding-left: 20px;
    text-align: left;
    position: absolute;
}
ul{
    list-style-type: none;
    overflow: hidden;

}
li{
    float: right;
}

li a{
    display: block;
    color: white;
    font-size: 18px;
    font-family: helvetica, arial, sans-serif;
    padding: 10px 15px 5px;
    text-align: center;
    text-decoration: none;
}

li a:hover{
    font-size: 20px;
    background-color: gray;
    border-bottom: 2px solid white;
}

img{
    position: fixed;
}
section{
    margin: 50px;
}